.rewiews_list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -16px;
  margin-top: -16px;
}
.rewiews_item_wrap {
  padding: 55px 50px;
}
.rewiews_item {
  background-color: #000;
  border-radius: 32px;

  flex-basis: calc(100% / 3 - 16px);
  margin-left: 16px;
  margin-top: 16px;
}
.rewiews_stars_box {
  display: flex;
  margin-bottom: 20px;
}
.rewiews_img {
  width: 18px;
  height: 17px;
  margin-right: 5px;
}
.rewiews_text {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;

  margin-bottom: 20px;
}

.rewiews_author {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6980392157);
}
