.subscribe_wrap {
  background-color: #000;
  border-radius: 32px;
  padding: 60px;
  position: relative;

  ::after {
    content: "";
    position: absolute;
    background-image: url(../../img/lines-subscr.png);
    background-repeat: no-repeat;
    width: 150px;
    height: 90px;
    bottom: -28px;
    left: -36px;
  }
}
.subscribe_wrap.container {
  width: inherit;
}
.subscribe_form {
  display: flex;
  //   justify-content: space-between;
}
.form_title_wrap {
  display: inline-block;
  width: 49%;
}
.form_subtitle {
  color: #118da8;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.form_title {
  font-size: 72px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 2.88px;
}
.form_inputs {
  display: inline-block;
  width: 49%;
}
.subscribe_input {
  padding: 26px 20px;
  background-color: #191919;
  color: #fff;
  font-size: 24px;
  border-radius: 6px;
  margin-bottom: 20px;
  display: block;
  width: 95%;
}
::placeholder {
  color: rgba(255, 255, 255, 0.6980392157);
}
.form_btn {
  background-color: #118da8;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.9;

  padding: 10px 20px;
  border-radius: 6px;
  border: 1px solid #118da8;
  transition: all 100ms linear;

  &:hover {
    color: #fff;
    border: 1px solid #118da8;
    background-color: transparent;
  }
}
